{{$currLang:=.Page.Lang }}
{{$langBase:=index .Site.Data $currLang}}

<div id="projects" class="text-center">
  	<h2>{{ .Get "title" }} </h2>
	<a href="/2023/november">		<img src="/2023/november/images/tristan.png" width="100" alt="TRISTAN"></a>
	<a href="/2023/november">		<img src="/2023/november/images/cryptpad.png" width="100" alt="CRYPTPAD"></a>
	<a href="/2023/april">		<img src="/2023/april/images/spade.png" width="100" alt="SPADE"></a>
	<a href="/2023/april">		<img src="/2023/april/images/ngi-search.png" width="100" alt="NIG-SEARCH"></a>
	<a href="/2023/january">		<img src="/2023/january/images/eucloudedgeiot.png" width="100" alt="EUCLOUDEDGEIOT"></a>
	<a href="/2023/january">		<img src="/2023/january/images/clif.png" width="100" alt="CLIF"></a>
	<a href="/2022/september">		<img src="/2022/september/images/smartclide.png" width="100" alt="SMARTCLIDE"></a>
	<a href="/2022/september">		<img src="/2022/september/images/spoon.png" width="100" alt="SPOON"></a>
	<a href="/2022/may">		<img src="/2022/may/images/morphemic.png" width="100" alt="MORPHEMIC"></a>
	<a href="/2022/may">		<img src="/2022/may/images/poosl.png" width="100" alt="POOSL"></a>
	<a href="/2022/january">		<img src="/2022/january/images/sat4j.png" width="100" alt="Sat4j"></a>
	<a href="/2022/january">		<img src="/2022/january/images/steady.png" width="100" alt="Steady"></a>
	<a href="/2021/september">	<img src="/2021/september/images/activeeon.png" width="100" alt="ActiveEon"></a>
	<a href="/2021/june">		<img src="/2021/june/images/basyx.png" width="100" alt="BaSyx"></a>
	<a href="/2021/september">	<img src="/2021/september/images/capra.png" width="100" alt="capra"></a>
	<a href="/2021/march">		<img src="/2021/march/images/decoder.png" width="100" alt="DECODER"></a>
	<a href="/2021/june">		<img src="/2021/june/images/fasten.png" width="100" alt="FASTEN"></a>
	<a href="/2021/march">		<img src="/2021/march/images/pdp4e.png" width="100" alt="PDP4E"></a>
	<a href="/2020/december">	<img src="/2020/december/images/reachout.png" width="100" alt="ReachOut!"></a>
	<a href="/2020/december">	<img src="/2020/december/images/smartclide.png" width="100" alt="SmartCLIDE"></a>
</div>