
{{$currLang:=.Page.Lang }}
{{$langBase:=index .Site.Data $currLang}}
{{$events := (index $langBase).conferences.items}}
{{ $past_events := slice }}
{{ $title := .Get "title" }}

{{ range (sort $events "date" "desc")}}
{{$t := time .end_date }}
{{ if $t.Before now }}
  {{ $past_events = $past_events | append . }}
{{ end }}
{{ end }}

{{ if gt (len $past_events) 0 }}

  	<h2>{{ $title }} </h2>
	  <ul>
	    {{ range $past_events }}
	        <li>
	          <a href="{{ .url }}">{{ .date }}: {{ .name }}</a>
	        </li>
	    {{ end }}
	  </ul>
{{ end }}